/*========================================================================================
*********   GRIDS BASE SUSY
*******     MEDIA QUERY 
*****       
***         
*/

	/*--------------------------------
	***  GENERAL DIFINITIONS
	**	 COMPASS , SUSY , CSS3 , CLEARFIX
	*/

	@import "compass";
	@import "susy";
	@import "compass/reset";
	@import "compass/css3";
	@import "compass/utilities/general/clearfix";

	$susy : (
		columns 			: $column,
		container 			: 85%,//90rem,
		gutters 			: 0,
		flow  				: $dir,
		global-box-sizing 	: border-box,
		output              : flex,
		gutter-position     : after,
		container-position  : center,
		// gutters             : 1/12,
		// column-width        : false,
		// last-flow           : to,			
		debug: (
	    	image     : hide,
	    	color     : rgba(#66f, .25),
	    	output    : background,
	    	toggle    : top right,
		),
	);

	@include border-box-sizing;

	.container{
		width : 90%;
	}

/*========================================================================================*\
*----------------------------          MEDIA QUERY              ----------------------------        
\*========================================================================================*/

	/*--------------------------------
	*** 4K AND HIGH RESOULOTIONS 
	**	MIN-WIDTH : 2560px OR 160em
	*/

	@mixin led4k{
		@media screen and (min-width : $led4k){
			@content;
		}
	}

	/*--------------------------------
	*** LAPTOP OR DESKTOP 
	**	MIN-WIDTH : 1400px OR 87.5em
	*/

	@mixin led{
		@media screen and (min-width : $alpha){
			@content;
		}
	}

	/*--------------------------------
	*** FOR SOM OF THE DEVICES
	**	MIN-WIDTH : 1201px OR 75.0625em
	*/

	@mixin lcd{
		@media screen and (min-width : $pre-alpha){
			@content;
		}
	}

	/*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 1200px OR 75em
	*/

	@mixin laptop{
		@media screen and (max-width : $beta){
			@content;
		}
	}

	/*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 1024px OR 64em
	*/

	@mixin mini_laptop{
		@media screen and (max-width : $pre-beta){
			@content;
		}
	}

	/*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 992px OR 62em
	*/

	@mixin tablet{
		@media screen and (max-width : $gamma){
			@content;
		}
	}

	/*--------------------------------
	*** FOR RETINA MOBILE AND LANSCAPE
	**	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
	*/

	@mixin retinaMobile{
		@media screen and ( min-width : $lota ) and ( max-width : $pre-zeta ){
			@content;
		}
	}

	/*--------------------------------
	*** FOR MOBILE
	**	MAX : 640PX / 40em
	*/

	@mixin mobile{
		@media screen and (max-width : $eta  ){
			@content;
		}
	}

	/*--------------------------------
	*** FOR MINI MOBILE
	**	MAX : 400PX / 25em
	*/

	@mixin mini_mobile{
		@media screen and (max-width : $kappa  ){
			@content;
		}
	}

	/*--------------------------------
	*** FOR CUSTOM MEDIA QUERY
	**	MAX : CUSTOM
	*/

	@mixin responsiveMax($maxwidth){
		@media screen and (max-width : $maxwidth){
			@content;
		}
	}

	/*--------------------------------
	*** FOR CUSTOM MEDIA QUERY
	**	MIN : CUSTOM
	*/

	@mixin responsiveMin($minwidth){
		@media screen and (min-width : $minwidth){
			@content;
		}
	}


	@for $i from 1 through $column {
		
		.#{$col_name}-#{$i}{

			@include span($i);

		}

	}
	