/*========================================================================================
*********    
*******      
*****       DIV ELEMENT BACKGROUND AND WIDGETS
***         
*/

.bg-with-widgets--item{

    .picture-bg{
        background-image: url("../img/item/bg-widgets.jpg");
        width           : 100%;
        height          : 25em;
        background-size : cover;
        padding-left    : 0;
        padding-right   : 0;
    
        .widgets{
            width           : 100%;
            height          : 100%;
            background-color: rgba($color: #000000, $alpha: 0.4);
            padding-top     : 4em;
            padding-left    : 10%;
            transition      : all 0.5s;

            .width-height{
                width           : 22%;
                height          : 20em;
                float           : left;
                text-align      : center;
                padding-left    : 2em;
                padding-right   : 2em;
                display         : block;
            }
            .icon{
                height          : 23%;
                color           : $WHITE;
                font-size       : 4em;
            }
            .number{
                height          : 25%;
                font-size       : 5em;
                color           : $WHITE;
            }
            .title{
                height          : 17%;
                color           : $WHITE;
                font-size       : 1em;
                font-weight     : bold;
                padding-top     : 1em;
            }
            .explanation{
                height          : 35%;
                color           : $WHITE;

            }

            @include laptop{

                padding-left: 10%;
        
                .width-height{
                    width       : 22%;
                }
        
            }//laptop
            
            @include mini_laptop{

                padding-left: 0;

                .width-height{
                    width       : 25%;
                }

            }//mini_laptop

            @include tablet{

                .widgets{
                    padding-left: 0;
        
                    .width-height{
                        width       : 50%;
                    }
                }
        
            }//tablet

            @include mobile{
        
                    padding-left: 0;
        
                    .width-height{
                        width       : 100%;
                        margin-bottom: 1em;
                    }
        
            }//mobile
            
        }//widgets
        
        @include tablet{
            height      : 44em;
        }

        @include mobile{
            height      : 86em;
        }
    }//picture-bg

}//bg-with-widgets--item