/*========================================================================================
*********    
*******      
*****-----------list trending----
***         
*/

.list-trending{


    .main-section{
        width                   :30%;
        margin                  : 0 auto;
        position                : flex;
        display                 : block;
        background-color        :#edf3f7;
        height: auto;
        overflow: auto;
        padding-bottom: 2em;
       
        @include mini-laptop{
          width: 40%;
        }
        @include tablet {
          width: 60%;
        }
        @include mobile{
          width: 100%;
          }
         
    
    
    //*****
    ////-----header
    //*****
  
      .header{
          padding: 0.5em 0;
        
          /////-----header line
          h2{
              text-align: center;
              color  :rgb(131, 131, 131);
              margin:  1em 0;
              font-size: 2em;
              letter-spacing: 0.2em; 
            
              @include mini-laptop{
                font-size: 1.8em;
              }
              @include mobile 
              {
                font-size: 1.7em;
              }
              @include mini_mobile{
                font-size: 1.4em;
              }
              
           }
          
           /////----Horizontal line under header
           hr{ 
              margin-bottom: 1.2em;
              border-bottom: 0.1px ;
              border-style: solid;
              border-color: #b6babb;
              display: block;
              width: 82%;   
            } 
         
      }// end header
    .episode-list{
        width: 90%;
        display: block;
        margin: 0 auto;
  
        .row{
          width: 90%;
          height: 2em;
          background: #F6F9FB;
          border-left: 0.2em solid #F6F9FB;
          padding: 2em 1em;
          margin:0 auto 0.1em; 
          align-items: center;
          justify-content: space-between;
          display: flex;
  
          &:hover{        
                  border-left: 0.2em solid #ED515B ;           
          }
      }
  
      /////
      ////----section for section left and right
      /////
  
      .section{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      ////
      ////-----circle left----
      ////
  
       .circle-left {
        @extend .section;
  
        background-color :#edf3f7;;
        border-radius: 50%;
        color: #b6babb;
        padding:1em;
        margin-right: 3px;
        width: 0.6em;
        height: 0.6em;
      }//end circle left
  
      /////
      ////----text in row-----
      ////
  
      .text{
        color:rgb(100, 97, 97);
        justify-content: center;
        padding: 1em;
        font-size: 0.8em;
        font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
        font-stretch: expanded;
        letter-spacing: 0.05em;
      }///end text
      
  
      //////
      //////------oval right----
      //////
  
      .circle-right{
        @extend .section;
  
        border: 0.09em solid #b6babb;
        background: #F6F9FB;
        color: rgb(100, 97, 97);
        font-stretch: extra-expanded;
        font-size: 0.8em;
        display: inline-flex;
        width: 4em;
        height: 0.2em;
        border-radius:  60%/95%;
        padding: 1em 1.5em;
      }///end cicle right
     
      ////
      //-----hover all elements-----
      //////
     
      .row:hover{
        .circle-left{
          color: black;
        }
        .text{
          color: #ED515B;
          //font-weight: bold;
        }
        .circle-right{
          background: #ED515B;  
          color: whitesmoke;
          border: 0.1em solid #ED515B;
        }
       
      }//// end hover 
  
      
    }//end episode-list

    }//end main-section
    
}/// end list trending