/*========================================================================================
*********    
*******      
*****       DIV ELEMENT FOOD MENU
***         
*/
    .picture-background{
        background-image    : url("../img/menu-food/bg-menu-food.jpg");
        width               : 100%;
        height              : 40em;
        background-size     : cover;
        position            : relative;
    }
    .blur-bg-black{
        width               : 100%;
        height              : 100%;
        background-color    : rgba($color: #000000, $alpha: 0.4);
    }
    .menu-div{
        width               : 40%;
        height              : 36em;
        background-color    : $WHITE;
        position            : absolute;
        top                 : 2em;
        left                : 30%;
        padding             : 1em;
        transition          : all 0.6s;
        border-radius       : 0.5em;
    }
    .logo-menu{
        width               : 100%;
        font-size           : 2em;
        color               : red;
        text-align          : center;
        line-height         : 2em;
        display             : inline-block;
    }
    .icon-coin-dollar{
        display             : inline-block;
    }
    .border-bottom-logo{
        height              : 0.2em;
        border-bottom       : 0.05em solid $CLOUDS;
        border-top          : 0.05em solid $CLOUDS;
        display             : block;
        position            : relative;
        margin-bottom       : 2em;
    }
    .title-menu{
        width               : 95%;
        height              : auto;
        text-align          : center;
        display             : block;
        position            : absolute;       
        top                 : 4.6em;
        line-height         : 1.4em;
    }
    .p-title-menu{
        width               : 12em;
        background-color    : $WHITE;
        margin-left         : auto;
        margin-right        : auto;
    }
    .left-menu{
        width               : 50%;
        height              : 62%;
        float               : left;
        display             : block;
    }
    .right-menu{
        width               : 50%;
        height              : 62%;
        float               : right;
        display             : block;
    }
    .bolder{
        font-size           : 1.1em;
        color               : $BLACK;
        font-weight         : bolder;
        line-height         : 1.5em;
    }
    .contents{
        font-size           : 0.8em;
        color               : $ASBESTOS;
        line-height         : 1.2em;
    }
    .section{
        width               : 100%;
        height              : 33%;
    }
    .name{
        width               : 65%;
        float               : left;
        padding-left        : 1.5em;
    }
    .price{
        width               : 35%;
        height              : 33%;
        float               : right;
        font-size           : 1.4em;
        color               : $POMEGRANATE;
        font-weight         : bolder;
        text-align          : center;
        line-height         : 4em;
        padding-right       : 0.5em;
    }
    .button{
        width: 100%;
        text-align          : center;
        padding-top         : 20px;
        display             : block;

    }
    .button-view{
        font-size           : 1em;
        background-color    : $CRIMSON;
        color               : $WHITE;
        border              : none;
        margin-top          : 1.3em;
        padding             : 0.7em;
    }
    .button-view span{
        margin-left         : 0.5em;
        padding: 0;
    }
    /*--------------------------------
    ***  
    **	 RESPONSIVE SECTION
    */

    @include led4k{

        .contents{
            font-size       : 1.4em;
            line-height     : 1.4em;
        }
        .price{
            font-size       : 1.8em;
            line-height     : 4.4em;
        }
        .bolder{
            font-size       : 1.6em;
            line-height     : 2em;
        }
    }//led4k

    @include lcd{

        .menu-div{
            width           : 50%;
            position        : absolute;
            top             : 2em;
            left            : 25%;
        }
        .contents{
            font-size       : 0.8em;
            line-height     : 1.3em;
        }
        .price{
            font-size       : 1.5em;
            line-height     : 4em;
        }
        .bolder{
            font-size       : 1.1em;
            line-height     : 1.7em;
        }
    }//lcd
    @include laptop{

        .menu-div{
            width           : 60%;
            position        : absolute;
            top             : 2em;
            left            : 20%;
        }
        .name{
            width           : 66%;
        }
        .price{
            width           : 34%;
        }
    }//laptop    
    @include tablet{

        .picture-background{
            height          : 30em;
        }
        .menu-div{
            width           : 100%;
            height          : auto;
            position        : absolute;
            top             : 0;
            left            : 0;
            border-radius   : 0;
        }
        .left-menu{
            width           : 50%;
            float           : left;
        }
        .right-menu{
            width           : 50%;
            float           : left;
        }
        .name {
            margin-top      : 1em;
            margin-bottom   : 1em;
            width           : 68%;
        }
        .bolder{
            font-size       : 1.1em;
            line-height     : 1.5em;
        }
        .contents{
            font-size       : 0.8em;
            line-height     : 1.1em;
        }
        .price{
            margin-top      : 1em;
            font-size       : 1.1em;
            width: 32%;
            font-size       : 1.2em;
            line-height     : 3em;
        }        
    }//tablet

    @include mobile{

        .menu-div{
            width           : 100%;
            height          : auto;
            position        : absolute;
            top             : 0;
            left            : 0;
            border-radius   : 0;
        }
        .left-menu{
            width           : 100%;
            float           : none;
        }
        .right-menu{
            width           : 100%;
            float           : none;
        }
        .name {
            margin-top      : 1em;
            margin-bottom   : 1em;
            width           : 68%;
        }
        .bolder{
            font-size       : 1em;
            line-height     : 1.4em;
        }
        .contents{
            font-size       : 0.8em;
            line-height     : 1.1em;
        }
        .price{
            margin-top      : 1em;
            font-size       : 1.1em;
            width           : 32%;
        }
    }//mobile

    /*--------------------------------
    ***  
    **	 WHEN WE WANT TO USE THE RTL DIRECTION
    */

    .rtl{
        .name{
            float           : right;
            text-align      : right;
            padding-right   : 1em;
        }
       .price{
            float           : left;
            text-align      : right;
        }
        
    @include led4k{

        .contents{
            font-size       : 0.9em;
        }
    }//led4k

    @include laptop{
        .name{
            width           : 69%;
        }
        .price{
            width           : 31%;
        }
    }//laptop

    @include tablet{

        .menu-div{
            border-radius   : 0;
        }
    }//tablet

    @include mobile{
        .menu-div{
            border-radius   : 0;
        }
        .name{
            width           : 71%;
        }
        .price{
            width           : 29%;
            margin-top      : 1.5em;
        }
    }//mobile
}