/*========================================================================================
*********    
*******      
*****       DIV ELEMENT POST COLUMN 
***         
*/

.post-column--item{

    .background-image{
        background-image    : url("../img/item/bg-post-column.jpg");
        width               : 100%;
        height              : 45em;
        background-size     : cover;

        @include retinaMobile{
            height          : 75em;
        }
        @include mobile{
            height          : 75em;
        }
        .blur-bg-black{
            width           : 100%;
            height          : 100%;
            background-color: rgba($color: #000000, $alpha: 0.4);
            padding-top     : 4%;

            .post-column{
                width       : 65%;
                height      : 90%;
                margin-left : auto;
                margin-right: auto;
                color       : $WHITE;
                text-align  : center;
                transition  : all 0.3s;
                position    : relative;

                @include laptop{
                    
                    width   : 75%;
                    
                }
                @include tablet{
                    width   : 95%;
                }
                @include tablet{
                    width   : 95%;
                }
                @include retinaMobile{
                    width   : 60%;
                }
                @include mobile{
                    width   : 80%;
                }
                @include mini-mobile{
                    width   : 100%;
                }
                .header{
                    width   : 100%;
                    height  : 15%;

                    @include retinaMobile{
                        height      : 6em;
                    }
                    h2{
                        font-size   : 2em;
                        line-height : 1.5em;
                    }
                }//header

                article{
                    color           : $WHITE;
                    border          : 2px solid transparent;
                }
                .article-1{
                    width           : 49%;
                    height          : 30em;
                    float           : left;
                    display         : block;

                    @include retinaMobile{
                        float       : right;
                        width       : 100%;
                    }
                    @include mobile{
                        width       : 100%;
                    }
                    .image-article-1{
                        width       : 100%;
                        height      : 50%;
                        background-image: url("../img/item/bg-article-1.jpg");
                        background-size: cover;
                    }
                    .white-article-1{
                        width           : 100%;
                        height          : 50%;
                        background-color: $WHITE;
                        text-align      : center;
                        position        : relative;

                        .Arrow{
                            width       : 0em;
                            height      : 0em;
                            border-left : 1em solid transparent;
                            border-right: 1em solid transparent;
                            border-bottom: 1em solid $WHITE;
                            position    : absolute;
                            top         : -0.9em;
                            left        : 48%;
                        }
                        .text-article-1{
                            width           : 100%;
                            height          : 100%;
                            padding-top     : 2em;
                            padding-left    : 0.4em;
                            padding-right   : 0.4em;

                            .red-text-article-1{
                                color       : red;
                                word-spacing: 1em;
                                display     : block;
                            }
                            .title-text-article-1{
                                color       : $BLACK;
                                font-size   : 1.8em;
                                line-height : 2em;
                                font-weight : bold;
                                display     : block;

                                @include tablet{
                                    font-size: 1.2em;
                                }
                            }
                            .below-title-article-1{
                                color           : $ASBESTOS;
                                font-size       : 0.9em;
                                display         : block;
                                margin-bottom   : 1.2em;
                            }
                            .description-article-1{
                                color       : $ASBESTOS;
                                font-size   : 0.9em;
                                display     : block ;
                            }
                            .link-article-1{
                                display     : block;
                                margin-top  : 1.2em;
                                font-weight : bold;
                            }
                        }
                    }
                }//article-1
                .article-2{
                    width   : 51%;
                    height  : 15em;
                    float   : right;
                    display : block;

                    @include retinaMobile{
                        width: 100%;
                    }
                    @include mobile{
                        width: 100%;
                    }
                    .image-article-2{
                        width           : 50%;
                        height          : 100%;
                        background-image: url("../img/item/bg-article-2.jpg");
                        background-size : cover;
                        float           : right;
                    }
                    .white-article-2{
                        width           : 50%;
                        height          : 100%;
                        float           : left;
                        background-color: $WHITE;
                        text-align      : center;
                        position        : relative;

                        .Arrow{
                            width           : 0em;
                            height          : 0em;
                            border-top      : 1em solid transparent;
                            border-left     : 1em solid $WHITE;
                            border-bottom   : 1em solid transparent;
                            position        : absolute;
                            right           : -0.9em;
                            top             : 43%;
                        }
                        .text-article-2{
                            width           : 100%;
                            height          : 100%;
                            padding-top     : 3em;
                            padding-left    : 0.4em;
                            padding-right   : 0.4em;

                            .red-text-article-2{
                                color           : red;
                                word-spacing    : 1em;
                                display         : block;
                                margin-bottom   : 0.7em;
                            }
                            .title-text-article-2{
                                color           : $BLACK;
                                font-size       : 1.2em;
                                margin-bottom   : 0.7em;
                                font-weight     : bold;
                                display         : block;
                            }
                            .below-title-article-2{
                                color           : $ASBESTOS;
                                font-size       : 0.9em;
                                display         : block;
                                margin-bottom   : 1.2em;
                            }
                            .link-article-2{
                                display     : block;
                                margin-top  : 1.4em;
                                font-weight : bold;
                            }
                        }
                    }
                }//article-2
                .article-3{
                    width       : 51%;
                    height      : 15em;
                    float       : right;
                    display     : block;

                    @include retinaMobile{
                        width: 100%;
                    }
                    @include mobile{
                        width: 100%;
                    }
                    .image-article-3{
                        width           : 50%;
                        height          : 100%;
                        background-image: url("../img/item/bg-article-3.jpg");
                        background-size : cover;
                        float           : left;
                        
                    }
                    .white-article-3{
                        width           : 50%;
                        height          : 100%;
                        background-color: $WHITE;
                        text-align      : center;
                        position        : relative;
                        float           : right;
                        
                        .Arrow{
                            width           : 0em;
                            height          : 0em;
                            border-top      : 1em solid transparent;
                            border-right    : 1em solid $WHITE;
                            border-bottom   : 1em solid transparent; 
                            position        : absolute;
                            left            : -0.9em;
                            top             : 43%;
                        }
                        .text-article-3{
                            width       : 100%;
                            height      : 100%;
                            padding-top : 3em;
                            
                        
                            .red-text-article-3{
                                color           : red;
                                word-spacing    : 1em;
                                display         : block;
                                margin-bottom   : 0.7em;
                            }
                            .title-text-article-3{
                                color           : $BLACK;
                                font-size       : 1.2em;
                                margin-bottom   : 0.7em;
                                font-weight     : bold;
                                display         : block;
                            }
                            .below-title-article-3{
                                color           : $ASBESTOS;
                                font-size       : 0.9em;
                                display         : block;
                                margin-bottom   : 1.2em;
                            }
                            .link-article-3{
                                display     : block;
                                margin-top  : 1.4em;
                                font-weight : bold;
                            }
                        }
                    }
                }//article-3

            }//post-column

        }//blur-bg-black

    }//background-image

}//.post-column--item

