/*========================================================================================
*********   
*******      SIMPLE RESPONSIVE TABLE 
*****       
***         
*/

.simple-responsive--table{

    /*--------------------------------
    ***     BACKGROUND TABLE STYLES
    **	    
    */

    .table-continer {
      background  : $WHITE;
      width       : 100%;
      overflow-x  : auto;
    }

    .table-wrapper {
      width     : 95%;
      margin    : 0 auto;
      background: $WHITE;
      display   : block;
      overflow-x: auto;
    }

    
    /*--------------------------------
    ***     LEFT TOP INPUT AREA
    **	    
    */

    .input-area {

      border        : 2px solid $input-border;
      border-radius : $in-area-radius;
      display       : inline-block;
      margin        : 1em;
      float         : $left;


          .img-icon {
            opacity     : 0.4;
            float       : $left;
            margin-top  : 0.3em;
            margin-left : 0.3em;
            font-size   : 30px;
          }


          .text-box {
            border    : none;
            float     : $left;
            height    : 1.5em;
            margin-top: 0.7em;
            opacity   : $img-opacity;
          }


          .button {
            background    :#f3f5f7;
            float         : $left;
            border-radius : 35px;
            width         : 4em;
            margin        : 3px;
            height        : 2.7em;
            padding: 0em !important;
            color: gray;
          }


          .button:hover{
            background  :#f3f5f7;
          }
    
  }// input-area
  
  
    input {
      transition: none;
      transform : none;
    }


    /*--------------------------------
    ***   RIGHT TOP BUTTON STYLES
    **	    
    */


    .right-button {
      float         : $right;
      margin        : 1em;
      padding       : 1.1em !important;
      font          : inherit;
      cursor        : pointer;
      outline       : inherit;
      color         : white;
      border        : none;
      border-radius : 3em;
    }
    

    .clear {
      clear: both;
    }


    /*--------------------------------
    ***       TABLE STYLES
    **	    
    */


    .table-responsive {
      margin-top: 0.5em;
      width     : 100%;
      display   : table;
    }


    .td {
      display   : inline-block;
      width     : 16%;
      text-align: $center-align;
    }
    .row:first-child{
      background:#f3f4fb !important;
    }

    .row:nth-child(odd) {
      background    : $TR_BG_COLOR;
    }

    .down-arrows {
      color       : $BELIZE_HOLE;
      font-size   : 1em;
      margin-left : 1.4em;
    }


    .row {

      width   : 99%;
      margin  : 0 auto;
      padding : 1.4em;
      border-radius: 1em;

      &:hover{
        cursor: pointer;
        background:#f3f4fb;
      }

    }// row

     .status{
       // .status > span
       > span{
        padding: 0.5em;
        border-radius: 2em;
        display: inline-block;
        line-height: 1.3em;

         // .status > span::before
         &::before{
          height          : 0.5em;
          width           : 0.5em;
          border-radius   : 50%;
          display         : inline-block;
          margin-right    : 5px;
          display  : inline-block;
          content  : "";
         }

       }

       &.confirmed > span{
        background-color: $TR_BG__blue_COLOR;
        color: $CIRCEL_BLUE;
      }
      &.fulfilled > span{
        background-color: $TR_BG__GREEN_COLOR;
        color: $CIRCEL_GREEN;
      }
      &.partially-shipped > span{
        background-color: $TR_BG__ORANGE_COLOR;
        color: $CIRCEL_ORANGE;
      }
        
       // .status.confirmed > span::before
       &.confirmed > span::before{
         background-color: $CIRCEL_BLUE;
       }
       &.fulfilled > span::before{
        background-color: $CIRCEL_GREEN;
      }
      &.partially-shipped > span::before{
        background-color: $CIRCEL_ORANGE;
      }

     }

    .table {
      overflow-x: auto;
    }

    .table{
      overflow-y: hidden;
    }

      /*--------------------------------
      ***   
      **   RESPONSIVE SECTION
      */


    @include laptop {

      .control-indicator {
        left  : 0 !important;
      }

    }

    @include mini-laptop {

      .table-responsive {
        width : 1000px;
      }

      .control-indicator {
        left  : 0 !important;
      }

    }

    @include tablet {

      .table-responsive {
        width : 1000px;
      }

      .control-indicator {
        left  : 0 !important;
      }

    }

    @include mobile {
      
      .tabler-responsive {
        width: 1000px;
      }
      .control-indicator {
        left: 0 !important;
      }//for mobiles

    }

    @include mini_mobile {

      .table-responsive {
        width: 1000px;
      }

      .control-indicator {
        left: 0 !important;
      }

      .img-icon {
        display: none;
      }

    }
      
    
      /*-------------------------------------------------------
      ---------------------------------------------------------
      ***   
      **   RTL SECTION
      */
      
    .rtl {
      direction: rtl;
        
      .title{
        text-align: center;
      }

      .status>span::before{
        margin-left: 5px;
      }
      /*--------------------------------
      ***   
      **   HEADER STYLE
      */
      
      .control-indicator{
        right: 0;
      }

      /*--------------------------------
      ***   
      **   responsive styles
      */

      @include laptop {
  
        .control-indicator {
          right: 0 !important;
        }

      }

      @include mini-laptop {
  
          .table-responsive {
            width: 1000px;
          }

          .control-indicator {
            right: 0 !important;
          }
      
      }

      @include tablet {

        .table-responsive {
          width: 1000px;
        }
        .control-indicator {
          right: 0 !important;
        }

      }

      @include mobile {
      
          .tabler-responsive {
            width: 1000px;
          }

          .control-indicator {
            right: 0 !important;
          }

          .right-button {
            float: left;
          }
      }

      @include mini_mobile {
  
          .table-responsive {
            width: 1000px;
          }

          .control-indicator {
            right: 0 !important;
          }

          .img-icon {
            display: none;
          }

      }

    }// rtl


    /*--------------------------------
    ***   
    **   STYLE OF THE TABLE'S SCROLL
    */

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
}