/*========================================================================================
*********   
*******      SIMPLE RESPONSIVE TABLE 
*****       
***         
*/

.simple-responsive--table{

    /*--------------------------------
    ***     BACKGROUND TABLE STYLES
    **	    
    */

    .table-continer {
<<<<<<< HEAD
      background  : $WHITE;
=======
      background  : $bgtable;
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
      font-family : $fontFamily;
      width       : 100%;
      overflow-x  : auto;
    }

    .table-wrapper {
      width     : 95%;
      margin    : 0 auto;
      background: $WHITE;
      display   : block;
      overflow-x: auto;
    }

    
    /*--------------------------------
    ***     LEFT TOP INPUT AREA
    **	    
    */

    .input-area {

<<<<<<< HEAD
      border        : 2px solid $input-border;
      border-radius : $in-area-radius;
=======
      border        : 2px solid $inputBorder;
      border-radius : $inpAreaRadius;
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
      display       : inline-block;
      margin        : 1em;
      float         : $left;


          .img-icon {
            opacity     : 0.4;
            float       : $left;
            margin-top  : 0.3em;
            margin-left : 0.3em;
            font-size   : 30px;
          }


          .text-box {
            border    : none;
            float     : $left;
            height    : 1.5em;
            margin-top: 0.7em;
<<<<<<< HEAD
            opacity   : $img-opacity;
=======
            opacity   : $opacityimage;
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
          }


          .button {
            background    :#f3f5f7;
            float         : $left;
            border-radius : 35px;
            width         : 4em;
            margin        : 3px;
            height        : 2.7em;
<<<<<<< HEAD
            padding: 0em !important;
            color: gray;
=======
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
          }


          .button:hover{
            background  :#f3f5f7;
          }
    
  }// input-area
  
  
    input {
      transition: none;
      transform : none;
    }


    /*--------------------------------
    ***   RIGHT TOP BUTTON STYLES
    **	    
    */


    .right-button {
      float         : $right;
      margin        : 1em;
      padding       : 1.1em !important;
      font          : inherit;
      cursor        : pointer;
      outline       : inherit;
      color         : white;
      border        : none;
<<<<<<< HEAD
      border-radius : 3em;
=======
      border-radius : 25px;
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
    }
    

    .clear {
<<<<<<< HEAD
      clear: both;
=======
      clear: $bothClear;
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
    }


    /*--------------------------------
    ***       TABLE STYLES
    **	    
    */


    .table-responsive {
      margin-top: 0.5em;
      width     : 100%;
      display   : table;
    }


    .td {
      display   : inline-block;
      width     : 16%;
<<<<<<< HEAD
      text-align: $center-align;
    }
    .row:first-child{
      background:#f3f4fb !important;
    }

    .row:nth-child(odd) {
      background    : $TR_BG_COLOR;
    }

    .down-arrows {
      color       : $BELIZE_HOLE;
=======
      text-align: $centerAlighn;
    }

    
    .row:nth-child(odd) {
      background    : $trTablebg;
      border-radius : 20px;
    }


    .down-arrows {
      color       : $bluecolor;
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
      font-size   : 1em;
      margin-left : 1.4em;
    }


    .row {

      width   : 99%;
      margin  : 0 auto;
<<<<<<< HEAD
      padding : 1.4em;
      border-radius: 1em;

      &:hover{
        cursor: pointer;
        background:#f3f4fb;
      }

    }// row

     .status{
       // .status > span
       > span{
        padding: 0.5em;
        border-radius: 2em;
        display: inline-block;
        line-height: 1.3em;

         // .status > span::before
         &::before{
          height          : 0.5em;
          width           : 0.5em;
          border-radius   : 50%;
          display         : inline-block;
          margin-right    : 5px;
          display  : inline-block;
          content  : "";
         }

       }

       &.confirmed > span{
        background-color: $TR_BG__blue_COLOR;
      }
      &.fulfilled > span{
        background-color: $TR_BG__GREEN_COLOR;
      }
      &.partially-shipped > span{
        background-color: $TR_BG__ORANGE_COLOR;
      }
        
       // .status.confirmed > span::before
       &.confirmed > span::before{
         background-color: $CIRCEL_BLUE;
       }
       &.fulfilled > span::before{
        background-color: $CIRCEL_GREEN;
      }
      &.partially-shipped > span::before{
        background-color: $CIRCEL_ORANGE;
      }

     }
=======
      padding : 1.4em;      

      .green {
        background    : $greenBg;
        padding       : 10px;
        display       : inline-block;
        color         : $greenColor;
        border-radius : 20px;
      }
    
      .yellow {
        background    : $yellowBg;
        padding       : 10px;
        display       : inline-block;
        color         : $ORANGE;
        border-radius : 20px;
      }

      .blue {
        background    : $blueBg;
        padding       : 10px;
        display       : inline-block;
        color         : $bluecolor;
        border-radius : 20px;
      }


    }// row

    // .status{

    //   // .status > span
    //   > span{
    //     height          : 10px;
    //     width           : 10px;
    //     border-radius   : 50%;
    //     display         : inline-block;
    //     margin-right    : 5px;

    //     // .status > span::before
    //     &::before{
    //       display  : inline-block;
    //       content  : "";
    //     }

    //   }
        
    //   // .status.confirmed > span::before
    //   &.confirmed > span::before{
    //     background-color: $greenColor;
    //   }

    // }

    .dotg {
      height          : 10px;
      width           : 10px;
      border-radius   : 50%;
      display         : inline-block;
      margin-right    : 5px;
      background-color: $greenColor;
    }

    .dotb {
      height          : 10px;
      width           : 10px;
      border-radius   : 50%;
      margin-right    : 5px;
      display         : inline-block;
      background-color: $bluecolor;
    }

    .doty {
      height          : 10px;
      width           : 10px;
      border-radius   : 50%;
      display         : inline-block;
      margin-right    : 5px;
      background-color: $ORANGE;
    }
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc

    .table {
      overflow-x: auto;
    }

<<<<<<< HEAD
    .table{
      overflow-y: hidden;
    }
=======
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc

      /*--------------------------------
      ***   
      **   RESPONSIVE SECTION
      */


    @include laptop {

      .control-indicator {
        left  : 0 !important;
      }

    }

    @include mini-laptop {

      .table-responsive {
        width : 1000px;
      }

      .control-indicator {
        left  : 0 !important;
      }

    }

    @include tablet {

      .table-responsive {
        width : 1000px;
      }

      .control-indicator {
        left  : 0 !important;
      }

    }

    @include mobile {
      
      .tabler-responsive {
        width: 1000px;
      }
      .control-indicator {
        left: 0 !important;
      }//for mobiles
<<<<<<< HEAD
=======
      .right-button {
        float: left;
      }
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc

    }

    @include mini_mobile {

      .table-responsive {
        width: 1000px;
      }

      .control-indicator {
        left: 0 !important;
      }

      .img-icon {
        display: none;
      }

    }
      
    
      /*-------------------------------------------------------
      ---------------------------------------------------------
      ***   
      **   RTL SECTION
      */
      
    .rtl {
      direction: rtl;
        
      .title{
        text-align: center;
      }

<<<<<<< HEAD
      .status>span::before{
        margin-left: 5px;
      }
=======
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
      /*--------------------------------
      ***   
      **   HEADER STYLE
      */
<<<<<<< HEAD
      
      .control-indicator{
        right: 0;
=======

      .img-icon{
        float       : right;
        margin-right:0.3em;
        margin-left : 0em;
      }
      
      .control-indicator{
        right: 15%;
      }

      .dotg{
        margin-left: 5px;
      }

      .dotb{
        margin-left: 5px;
      }

      .doty{
        margin-left: 5px;
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
      }

      /*--------------------------------
      ***   
      **   responsive styles
      */

      @include laptop {
  
        .control-indicator {
          right: 0 !important;
        }

      }

      @include mini-laptop {
  
          .table-responsive {
            width: 1000px;
          }

          .control-indicator {
            right: 0 !important;
          }
      
      }

      @include tablet {

        .table-responsive {
          width: 1000px;
        }
        .control-indicator {
          right: 0 !important;
        }

      }

      @include mobile {
      
          .tabler-responsive {
            width: 1000px;
          }

          .control-indicator {
            right: 0 !important;
          }

          .right-button {
            float: left;
          }
      }

      @include mini_mobile {
  
          .table-responsive {
            width: 1000px;
          }

          .control-indicator {
            right: 0 !important;
          }

          .img-icon {
            display: none;
          }

      }

    }// rtl


<<<<<<< HEAD
    /*--------------------------------
=======
        /*--------------------------------
>>>>>>> 56bfbd9f65109267cb6d830ce2a75871e5ed92fc
    ***   
    **   STYLE OF THE TABLE'S SCROLL
    */

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
}